@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

.bars {
    height: 50vh;
}

.bar {
  background-color: #3C403D;
  margin: 2.5px;
  width: 30px;
  font-size: 70%;
  font-weight: bold;
  color: white;
}

.button {
    background-color: Transparent;
    border: none;
    color: #3C403D;
    margin: 4px 2px;
    letter-spacing: 0.1em;
}

.sortButton {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0.7rem;
    font-weight: bold;
}

.sortButton:nth-last-child(1){
    border-right: none;
}

#button:hover {
    outline: 2.5px solid #3C403D;
}

#slider-label{
    font-size: small;
    color: #3C403D;
}

.container-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 15px;
    padding: 15px;
}

#visualizer-container {
    height: 35vh;
}

.clicked {
    background-color: #457b9d;
    color: white;
}

#control-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#control-container .button{
    font-size: 1.2rem;
    margin: 0 15px;
}

#control-container .button:hover {
    color: grey;
}

#control-container div small{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    color: grey;
}

#countstep {
    display: none;
}